@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "EudoxusSans";
  src: url('../assets/fonts/EudoxusSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "EudoxusSans";
  src: url('../assets/fonts/EudoxusSans-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}


@layer components {
  .btn {
    @apply inline-flex items-center justify-center rounded-xl border-p1/10 border font-medium text-center text-base leading-snug py-3.5 px-6 gap-2 md:px-8 ease-in focus:ring-2 focus:ring-offset-2 cursor-pointer duration-200 hover:shadow-lg hover:bg-p1/20;
  }

  .btn-primary {
    @apply btn font-semibold bg-p1 text-op border-p1 hover:bg-p2 hover:border-p2 hover:text-op;
  }

  .btn-secondary {
    @apply btn;
  }

  .btn-tertiary {
    @apply btn border-none shadow-none hover:text-p1;
  }

  .btn-disabled {
    @apply btn cursor-not-allowed bg-f2/0 border-f2/20 hover:shadow-none hover:bg-f2/0 hover:border-f2/20 text-f2 hover:text-f2;
  }

  .card {
    @apply flex flex-col bg-b2 rounded-xl px-8 py-16 shadow-lg
  }

  .pill {
    @apply font-mono flex flex-row justify-center items-center rounded-full text-center py-2 px-3 bg-p1/20 text-p1 font-bold text-xs;
  }

  .page {
    @apply px-4 flex min-h-screen flex-col items-center w-full max-w-3xl
  }
}